@media screen and (max-width: 767px) {
    header .container > nav {
        display: none;
    }
    header p {
        padding-left: 10px;
    }
    header .hamburger-menu {
        display: block;
        float: right;
    }

    .container {
        padding: 70px 10px 0 10px;
    }

    .content .device {
        margin-left: 0;
        margin-top: 30px;
    }
    .content .text {
        display: block;
        margin: 0 auto;
    }
    .content .text h3 {
        font-size: 30px;
    }
    .content .text p {
        font-size: 14px;
        line-height: 20px;
    }

    .features .image {
        margin: 0 10px;
    }
}